ConsoleApp1/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dodawanie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DodawanieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DodawanieResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Odejmowanie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OdejmowanieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OdejmowanieResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mnozenie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MnozenieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MnozenieResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dzielenie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DzielenieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DzielenieResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DodawanieSoapIn">
    <wsdl:part name="parameters" element="tns:Dodawanie" />
  </wsdl:message>
  <wsdl:message name="DodawanieSoapOut">
    <wsdl:part name="parameters" element="tns:DodawanieResponse" />
  </wsdl:message>
  <wsdl:message name="OdejmowanieSoapIn">
    <wsdl:part name="parameters" element="tns:Odejmowanie" />
  </wsdl:message>
  <wsdl:message name="OdejmowanieSoapOut">
    <wsdl:part name="parameters" element="tns:OdejmowanieResponse" />
  </wsdl:message>
  <wsdl:message name="MnozenieSoapIn">
    <wsdl:part name="parameters" element="tns:Mnozenie" />
  </wsdl:message>
  <wsdl:message name="MnozenieSoapOut">
    <wsdl:part name="parameters" element="tns:MnozenieResponse" />
  </wsdl:message>
  <wsdl:message name="DzielenieSoapIn">
    <wsdl:part name="parameters" element="tns:Dzielenie" />
  </wsdl:message>
  <wsdl:message name="DzielenieSoapOut">
    <wsdl:part name="parameters" element="tns:DzielenieResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dodawanie">
      <wsdl:input message="tns:DodawanieSoapIn" />
      <wsdl:output message="tns:DodawanieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Odejmowanie">
      <wsdl:input message="tns:OdejmowanieSoapIn" />
      <wsdl:output message="tns:OdejmowanieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mnozenie">
      <wsdl:input message="tns:MnozenieSoapIn" />
      <wsdl:output message="tns:MnozenieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dzielenie">
      <wsdl:input message="tns:DzielenieSoapIn" />
      <wsdl:output message="tns:DzielenieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dodawanie">
      <soap:operation soapAction="http://tempuri.org/Dodawanie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Odejmowanie">
      <soap:operation soapAction="http://tempuri.org/Odejmowanie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mnozenie">
      <soap:operation soapAction="http://tempuri.org/Mnozenie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dzielenie">
      <soap:operation soapAction="http://tempuri.org/Dzielenie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dodawanie">
      <soap12:operation soapAction="http://tempuri.org/Dodawanie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Odejmowanie">
      <soap12:operation soapAction="http://tempuri.org/Odejmowanie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mnozenie">
      <soap12:operation soapAction="http://tempuri.org/Mnozenie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dzielenie">
      <soap12:operation soapAction="http://tempuri.org/Dzielenie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:50084/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:50084/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>